<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./Tests/Resources/app/autoload.php">

    <php>
        <server name="KERNEL_DIR" value="./Tests/Resources/app/" />
    </php>


    <testsuites>
        <testsuite name="GeoNameBundle for the Symfony Framework">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>.</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>